.home {
  align-items: center;
  background: #F1F1F1;
  display: flex;
  flex-flow: column;
  padding: 38px 15px 0 15px;
  
  @media(min-width: 1024px) {
    flex-flow: row;
    justify-content: space-between;
    height: 100vh;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 112px;
    width: 100%;
  }
}

.home--card {
  margin-bottom: 36px;
  max-width: 312px;
  width: 100%;
  
  @media(min-width: 1024px) {
    margin-bottom: 0;
  }
}