.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 0px rgba(51, 51, 51, 0.1);
}

.card-header {
  border-bottom: 1px solid #EBEBEB;
  padding: 16px 0;

  p {
    color: #737C84;
    font-size: 16px;
    text-align: center;
  }
}

.card-body {
  padding: 42px 0;

  p {
    font-size: 86px;
    line-height: 86px;
    text-align: center;

    &.card-body--blue {
      color: #69A3FF;
    }

    &.card-body--orange {
      color: #FF9632;
    }
    
    &.card-body--red {
      color: #ED1946;
    }
  }
}

.card-footer {
  background: #F1F1F1;
  color: #B4B4B4;
  padding: 18px 34px;
  text-align: center;
}

.card-footer--details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.card-footer--details-block {
  p {
    font-size: 12px;

    &:nth-child(2) {
      color: #737C84;
      font-size: 16px;
      margin-top: 8px;
    }
  }
}

.card-footer--time {
  font-size: 10px;
  text-align: center;
}

.card-loader {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 222px;
}

.card-error {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 222px;

  p {
    color: #ED1946;
    margin-bottom: 22px;
  }

  button {
    border: 2px solid #737C84;
    border-radius: 26px;
    color: #BABABA;
    font-size: 16px;
    padding: 12px 20px;
  }
}